<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>联系人新增页</title>
</head>
<body>
<h1>请输入个人信息</h1>

<form action="/save_contact/" method="post">
    {% csrf_token %}
    姓名：<input type="text" name="username" id=""> <br>
    电话号码：<input type="text" name="phone_num" id=""> <br>

    <input type="submit" value="保存信息">

</form>

</body>
</html>